<head>
    <title>{{ _config.project.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block _head_js %}
    {% endblock %}
</head>
